p, h1, h2, h3, h4, select, label
    font-family Rubik
    color white

html
    min-height 100vh

body
    margin 0
    padding 0
    min-height 100vh
    position relative

header
    position absolute
    top 40
    height 40px
    width 100%
    background-color #30343F
    border-bottom 1px solid black


main
    box-sizing: border-box
    padding-top 40px;
    padding-bottom 20px;
    height 100vh
    overflow hidden
    display flex

    .sideBar
        background-color #30343F
        max-width 500px
        min-width 40%
        height 100%
        border-right 1px solid black
        padding 10px
        flex-direction column
        overflow scroll

        .buttonBar
            display flex
            flex-direction row
            margin-bottom 10px
            gap 10px
            flex-wrap wrap
            button
                border none
                border-radius 5px
                padding 3px 7px
        textarea
            border none
            border-radius 5px
            width 100%
            resize vertical
            min-height 50%


footer
    position absolute
    bottom 0
    height 20px
    width 100%
    background-color #30343F
    border-top 1px solid black
